@font-face{
    font-family: "facebook";
    src: local("./facebook.ttf") format('woff');
}
body{
    background-color: #dcdcdc;
    margin: 0;
}
input{
    height: 50px;
    margin: 10px;
    width: 60%;
    font-size: 20px;
}

.nav{
    height: 100px;
    background-color: #3b5998;
}
.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 0;
    padding: 0;
}
.logo{
    font-family: Tahoma, "facebook";
    color: white;
    padding: 0 0 0 20%;
    margin: 0;
    font-size: 500%;
}
.logo:hover{
    cursor: default;
}
.create_acc_button{
    height: 50px;
    margin-left: 5%;
    color: white;
    background-color:forestgreen;
    transition: .2s;
}
.create_acc_button:focus{
    outline: 0 !important;
}
.create_acc_button:active{
    background-color: rgb(10, 71, 10);
}
.login-form{
    background-color: white;
    display: flex;
    margin: 15%;
    padding: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-button{
    width: 60%;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #3b5998;
    transition: .2s;
}
.login-button:hover{
    color: #dcdcdc;
}
.login-button:focus{
    outline: 0 !important;
    transform: scale3d(0 2 1);
}
.login-button:active{
    background-color: #182d5c;
}
.login-rel-link{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.login-rel-link a{
    text-decoration: none;
    padding-right: 9px;
}
@media screen and (max-width: 730px){
    .logo{
        padding: 0;
        font-size: auto;
    }
    .create_acc_button{
        padding-right: 2%;
    }
}